body {
	margin: 0;
	font-size: 18px;
	font-family: 'Open Sans', Tahoma, Poppins, Helvetica, Arial, sans-serif;
	color: #686868;
	background: url(../img/background.jpg);
	transition: all .3s;
}
#main {
	background-image: url("../img/slider/res1_slide1.jpg");
	background-repeat: no-repeat;
	background-size: 125%;
	background-position-x: center; 
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	position:relative;
	padding: 2.5rem 3rem;
	height: 100vh;
}
section {
	padding: 4rem 8rem;
	text-align: center;
} 
.parallax-window {
    min-height: 400px;
}
.heading {
	font-family: Helvetica, sans-serif;
}
.header__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .3s;
}
.header__nav_sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: black;
    width: 92%;
    padding: 0 10px;
    box-shadow: 0 0 5px silver;
}
.logo {
	width: 15%;
	text-align: center;
}
.logo-img {
	width: 80%;
}
nav {
	display: inline-flex;
	align-items: center;
}
.header__nav {
	display: inline-flex;
	list-style: none;
}
.header__nav-item {
	padding: 0 15px;
	position: relative;
}
.close {
	display: none;
}
.header__submenu {
	list-style: none;
	padding-top: 10px; 
	padding-left: 5px;
	color: white;
	position: absolute;
	transition: all 0.3s; 
}
.submenu-item {
	border-bottom: 2px solid #c7c8ca;
	padding: 3px 8px 3px 0;
}
.header__nav-item a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 1.6px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 5px;
}
.header__nav-item a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #b5b5b5;
	transition: width 1s;
}
.header__nav-item a:hover::after{
	width: 100%;
}
.header__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 5px black;
    justify-content: center;
	height: 80vh;
}
.header__main-heading {
	letter-spacing: 2.7px;
	font-size: 80px;
	text-align: center;
	margin: 1.2rem 0;
}
.header__subheading {
	font-size: 46px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2rem;
}
.btn {
	background-color: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #ffb606;
	color: black;
	position: relative;
	text-shadow: none;
	width: 286px;
	display: inline-block;
}
.btn:hover {
	color: #ffb606;
}  
.btn a {
	text-decoration: none;
	margin: 1.2rem 1.6rem;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.1px;
	color: inherit;
	z-index: 2;
	position: relative;
}
.btn:hover::after {
    width: 0%;
}
.btn::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffb606; 
}

/* ABOUT */

.about {
	display: flex;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.about__content {
	width: 70%;
	padding-left: 4rem;
}
.about__heading {
	font-size: 48px;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 2rem;
	text-align: left;
}
.about__text {
    text-align: justify;
}

/* MENU */

.menu {
	background-image: url(../img/menu/special-menu-bg1.jpg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-repeat:no-repeat;
	position:relative;
	width: 100%;
	padding: 5rem 0;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.section__heading {
	text-align: center;
	font-size: 48px;
	margin: 0;
}
.subheading {
	font-size: 30px;
	margin-bottom: 2.5rem;
}
.menu__content {
	display: flex;
	justify-content: center;
}
.menu__col {
	width: 25%;
	margin-right: 1.5rem;
	position: relative;
}
.menu__text {
	position: absolute;
	bottom: 0;
	background: rgba(255,182,18,.85);
	padding: 1rem 0;
	color: black;
	width: 100%;
	text-shadow: none;
	font-size: 28px;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
}
.menu__img {
    width: 100%;
    box-shadow: 1px 1px 5px black;
	border-radius: 10px;
}
.menu__text:hover {
	opacity: 0.8;
}
.side-img {
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
i {
	border: 0;
	border-top: 2px solid #ffb606;
	/* border-top: 1px solid #e75b1e; */
	height: 1px;
	width: 75px;
	float: left;
	margin-bottom: 1px;
}
.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
    width: 65px;
    margin: 0 0 1px 10px;
}
.side-img.right-side-img i:first-child, .side-img.right-side-img i:last-child {
    width: 65px;
    margin: 0 10px 1px 0;
}

/* GALLERY */

.gallery {
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.section__heading {
	width: 100%;
}
.gallery__content {
	display: flex;
	margin-bottom: 1.5rem;
}
.gallery__col {
	width: 33%;
	margin-right: 1.5rem;
}
.gallery__img {
	width: 100%;
	margin-bottom: 1.25rem;
	box-shadow: 0px 0px 3px 1px #ddd;
	border-radius: 5px;
	transition: all .3s;
}
.gallery__img:hover {
	transform: scale(0.9,0.9);
}

/* EVENTS */

.events {
	background-image: url(../img/events/prinada-bg1.jpg);
	background-size: 100%;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.events__content {
	display: flex;
	justify-content: space-between;
    margin-top: 3rem;
}
.events__wrapper {
	position: relative;
}
.events__col {
	width: 48%;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
}
.events__img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.events__blog-heading {
	text-transform: uppercase;
	color: #ffb606;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	padding: 1.5rem;
	margin-bottom: 5px;
}
.events__blog-text {
	line-height: 1.5;
	padding: 0 20px;
}

/* RESERVATION */

.reservation {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.reservation__content {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.reservation__img {
	width: 100%;
	margin-bottom: 1rem;
	border: 3px solid #ccc;
	border-radius: 7px;
}
.reservation__col {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.reservation__col1 {
	width: 42%;
}
.reservation__form-item {
	width: 100%;
	height: 55px;
	border: 2px solid #eaeaea;
	border-radius: 7px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.224px;
	padding: 0 18px;
	margin-bottom: 2rem; 
	box-sizing: border-box;
}
.form-select {
	background: #fff url(../img/reservation/selectDown.png) no-repeat right 23px center;
    background-size: auto auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-size: 14px;
	cursor: pointer;
	color: #686868;
}
.select_reserved {
	width: 216.5%;
	margin: 0;
}
.chooseTable {
	margin-right: 3rem;
}
.reservation_btn {
	width: 286px;
	background-color: #ffb606;
	cursor: pointer;
	border-radius: 5px;
	border: 0;
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.1px;
	padding: 1.3rem 1.6rem;
}
.reservation_btn:hover {
	opacity: .8;
}  
input.error {
    border: 1px solid #ff0000;
}
label.error {
    color: #ff0000;
    font-size: 15px;
	margin: -30px 0 10px;
	display: block;
}

.modal_form {
       position: absolute;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}
.modal_content {
	width: 50%; 
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; /* пoлoвинa экрaнa слевa */
    display: inherit; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */ 
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    padding: 25px 2.3%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: inherit;
}
.modal_form #text {
    font-size: 26px;
}
.modal_form .button {
    position: absolute;
    left: 12%;
    width: 75%;
}
.modal_form .button a{
    font-size: 20px;
    color: white;
}
/* Пoдлoжкa */
.overlay {
    background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:1;
	height:100%;
	width:100%;
}
.open {
	display: block;
}
/* REVIEW */

.review {
	background-image: url(../img/review/testimonial-bg1.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-position:100% 0;
	position:relative;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.review__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
	border-radius: 10px;
}
.review__col {
	width: 29%;
	margin: 0 .5rem;
	padding: 1rem;
	padding-bottom: 0;
	background-color: rgba(0,0,0,0.6);
}
.review__img {
	border-radius: 50%;
}
.review__text {
    font-size: 16px;
    line-height: 1.5;
	text-align: justify;
}
.review__text-author {
	text-align: center;
}

/* CONTACTS */

.contacts {
	background-image: url(../img/contacts/customer-service.png);
	background-repeat: no-repeat;
	background-size: 23%;
	background-position: bottom right;
}
.contacts__content {
	display: flex;
	margin-top: 3rem;
}
.contacts__text {
    margin-left: 2rem;
    line-height: 1.5;
    width: 34%;
    text-align: left;
}
.bold {
	font-weight: bold;
}
.contacts__content a {
	color: inherit;
}

/* FOOTER */

footer {
	background: url(../img/events/prinada-bg1.jpg) 100%;
	border-top: 2px dotted gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 8rem;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 18%;
}
.social img {
	width: 35px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 0px black;
}

/* ANCHOR */

#toTop {
    width:50px;
    height: 50px;
    text-align:center;
    position:fixed;
    bottom:30px; 
    right:25px;
    border-radius: 15%;
    background-color: black;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffb606;
    font-size:28px;
    font-weight: bold;
}