body {
	margin: 0;
	font-size: 18px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #686868;
	background: url(../img/background3.jpg);
	-webkit-transition: all .3s;
	transition: all .3s;
}
#main {
	background-image: url("../img/slider/res1_slide1.jpg");
	background-repeat: no-repeat;
	background-size: 125%;
	background-position-x: center; 
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	position:relative;
	padding: 2.5rem 3rem;
	height: 100vh;
}
section {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
} 
.section__inner {
	width: 85%;
	margin: 4rem auto;
}
.about__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.parallax-window {
    min-height: 400px;
}
.heading {
	font-family: Helvetica, sans-serif;
}
.header__navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.header__nav_sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: black;
    width: 92%;
    padding: 0 10px;
    -webkit-box-shadow: 0 0 5px silver;
    box-shadow: 0 0 5px silver;
}
.logo {
	text-align: center;
}
.logo-img {
	width: 80%;
}
nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
}
.header__nav-item {
	padding: 0 15px;
	position: relative;
	border-right: 2px solid #c7c8ca;
}
.header__nav-item:last-child {
	border-right: 0;
}
.close {
	opacity: 0;
}
.header__submenu {
	list-style: none;
	padding-top: 10px; 
	padding-left: 5px;
	color: white;
	position: absolute;
	-webkit-transition: all 0.5s;
	transition: all 0.5s; 
}
.submenu-item {
	border-bottom: 2px solid #c7c8ca;
	padding: 3px 8px 3px 0;
}
.header__nav-item a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 1.6px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 5px;
}
.header__nav-item a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #b5b5b5;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.header__nav-item > a:hover::after{
	width: 100%;
}
.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 5px black;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	height: 80vh;
}
.header__main-heading {
	letter-spacing: 2.7px;
	font-size: 80px;
	text-align: center;
	margin: 1.2rem 0;
}
.header__subheading {
	font-size: 46px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2rem;
}
.btn {
	background-color: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #ffb606;
	color: #222222;
	position: relative;
	text-shadow: none;
	display: inline-block;
}
.btn:hover {
	color: #ffb606;
}  
.btn a {
	text-decoration: none;
	margin: 1.2rem 1.6rem;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.1px;
	color: inherit;
	z-index: 2;
	position: relative;
}
.btn:hover::after {
    width: 0%;
}
.btn::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffb606; 
}
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
@media (max-width: 1300px) {
	.header__nav-item {
	    padding: 0 10px;
	}
}
@media (max-width: 1185px) {
	.header__nav-item {
	    padding: 0px 5px;
	}
	.header__nav {
	    width: 100%;
	    height: 94vh;
	    display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		opacity: 1;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    opacity: 0;
	    visibility: hidden;
	    padding: 0;
	    position: fixed;    
		top: 0;
		left: 0;
		margin-top: 0;
		padding: 1rem 0;
		transition: all 0.3s;
		background: rgba(0,0,0,.9);
		z-index: 100;
	}
	.open_menu {
		visibility: visible;
		opacity: 1;
	}
	.header__nav-item {
		border: 0;
	}
	.header__nav-item a {
	    font-size: 23px;
	}
	.header__submenu::before {
	    content: "➠";
	    position: absolute;
	    left: -42px;
	    font-size: 30px;
	}
	.header__submenu {
	    top: -3px;
	    left: 144px;
	    padding: 0;
	}
	.menu_icon {
	    width: 30px;
	    height: 30px;
	    position: fixed;
	    right: 50px;
		top: 38px;
		z-index: 200;
		cursor: pointer;
	}
	.menu_icon .bar {
	    padding: 0;
	    width: 30px;
	    height: 4px;
	    background-color: orange;
	    border-radius: 4px;
	    -webkit-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
	    position: absolute; 
	}
	.bar1 {
	    top: 0;
	}
	.bar2,
	.bar3 {
	    top: 12.5px;
	}
	.bar3 {
	    right: 0;
	}
	.bar4 {
	    bottom: 0;
	}
	.checkbox2:checked + label > .menu_icon > .bar1{
	    -webkit-transform: translateX(40px);
	    transform: translateX(40px);
	    background-color: transparent;
	}
	.checkbox2:checked + label > .menu_icon > .bar2{
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	.checkbox2:checked + label > .menu_icon > .bar3{
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.checkbox2:checked + label > .menu_icon > .bar4{
	    -webkit-transform: translateX(-40px);
	    transform: translateX(-40px);
	    background-color: transparent;
	}
}
@media (max-width: 800px) {
	.header__main-heading {
	    font-size: 64px;
	}
	.header__subheading {
	    font-size: 36px;
	}
	.btn a {
	    margin: 1rem 1.2rem;
	}
}
@media (max-width: 662px) {
	.header__main-heading {
	    font-size: 52px;
	}
	.header__subheading {
	    font-size: 32px;
	}
}
@media (max-width: 563px) {
	.header__content {
		margin-top: 1rem;
	}
	.header__main-heading {
	    font-size: 52px;
	}
	.header__subheading {
	    font-size: 32px;
	}
	.header__submenu {
		/*display: none;*/
		opacity: 0;
	}
	.logo {
	    text-align: left;
	}
	.logo-img {
	    width: 67%;
	}
	.menu_icon {
	    height: 25px;
	    right: 22px;
	}
	.bar2, .bar3 {
	    top: 10.5px;
	}
}
@media (max-width: 420px) {
	#main {
		height: 90vh;
	}
	.header__content {
		margin-top: 0;
	}
	.header__content > img {
		width: 100%;
	}
	.header__main-heading {
    	font-size: 42px;
	}
	.header__subheading {
	    font-size: 22px;
	    text-align: center;
	}
	.btn {
		width: 164px;
	}
	.btn a {
	    margin: .5rem 0rem;
	    text-align: center;
		font-size: 14px;
	}
}

/* ABOUT */

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.about__img {
	width: 35%;
	height: 100%;
}
.about__content {
	width: 70%;
	padding-left: 4rem;
}
.about__heading {
	font-size: 48px;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 2rem;
	text-align: left;
}
.about__heading .side-img {
	display: none;
}
.about__text {
    text-align: justify;
}

@media (min-width: 1900px) {
	.about__text {
	    font-size: 23px;
	}
}
@media (min-width: 1800px) {
	.about__text {
	    font-size: 22px;
	}
	.about__img {
		width: 25%;
	}
}
@media (min-width: 1600px) {
	.about__text {
	    font-size: 20px;
	}
	.about__img {
		width: 30%;
	}
}
@media (max-width: 1300px) {
	.about__img {
	    width: 35%;
	}
	.about__content {
	    width: 70%;
	    padding-left: 2rem;
	}
}
@media (max-width: 1200px) {
	.about__img {
	    width: 50%;
	}
	.about__content {
	    width: 50%;
	}
}
@media (max-width: 1185px) {
	.header__nav-item {
	    padding: 0px 5px;
	}
	.about__text {
	    line-height: 1.3;
	    margin: 15px 0;
	}
	.about__heading {
	    margin-bottom: 1rem;
	    font-size: 42px;
	}
}
@media (max-width: 1100px) {
	.about, .about__inner {
	    display: block;
	}
	.about__content {
	    width: 100%;
	    padding: 0;
	}
}
@media (max-width: 768px) {
	.section__inner {
	    margin: 3rem auto;
	}
}
@media (max-width: 600px) {
	.section__inner {
	    margin: 2rem auto;
	}
	.about__heading .side-img {
		display: inline-block;
	}
	.about__heading {
		text-align: center;
	}
	.about__img {
	    display: none;
	}
}
@media (max-width: 375px) {
	.about__text:last-child {
	    display: none;
	}
	.about__text {
	    font-size: 16px;
	}
}

/* MENU */

.menu {
	background-image: url(../img/menu/special-menu-bg1.jpg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-repeat:no-repeat;
	position:relative;
	width: 100%;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.section__heading {
	text-align: center;
	font-size: 48px;
	margin: 0;
}
.subheading {
	font-size: 30px;
	margin-bottom: 2.5rem;
}
.menu__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.menu__col {
	margin-right: 1.5rem;
	position: relative;
}
.menu__text {
	position: absolute;
	bottom: 0;
	background: rgba(255,182,18,.85);
	color: black;
	width: 100%;
	text-shadow: none;
	font-size: 28px;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
}
.menu__img {
    width: 100%;
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
	border-radius: 10px;
}
.menu__text:hover {
	opacity: 0.8;
}
.menu__text a{
	text-decoration: none;
	color: inherit;
	width: 100%;
	display: block;
	margin: 4% 0;
}
.side-img {
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
i {
	border: 0;
	border-top: 2px solid #ffb606;
	height: 1px;
	width: 75px;
	float: left;
	margin-bottom: 1px;
}
.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
    width: 65px;
    margin: 0 0 1px 10px;
}
.side-img.right-side-img i:first-child, .side-img.right-side-img i:last-child {
    width: 65px;
    margin: 0 10px 1px 0;
}

@media (max-width: 950px) {
	.menu__content {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.menu__col {
	    width: 45%;
	    margin-bottom: 1.5rem;
	}
	.menu__col:last-child {
		margin: 0;
	}
}
@media (max-width: 566px) {
	.menu__col {
	    width: 80%;
	    margin-right: 0;
	}
}
@media (max-width: 498px) {
	.section__heading {
	    font-size: 37px;
	    margin-bottom: 1.5rem;
	}
	.side-img {
	    width: 70px;
	    margin: 0 10px;
	}
	i {
		width: 70px;
	}
	.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
	    width: 60px;
	}
	.side-img.right-side-img i:first-child, .side-img.right-side-img i:last-child {
	    width: 60px;
	}
	.subheading {
		display: none;
	}
}
@media (max-width: 422px) {
	.menu {
		background-image: url(../img/events/prinada-bg1.jpg);
		background-size: 100% 100%;
	}
	.menu__col {
	    width: 75%;
	}
	.menu__text {
	    font-size: 20px;
    }
	.section__heading {
	    font-size: 28px;
	}
	.side-img {
	    width: 50px;
	    margin: 0 7px;
	}
	i {
		width: 50px;
	}
	.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
	    width: 40px;
	}
	.side-img.right-side-img i:first-child, .side-img.right-side-img i:last-child {
	    width: 40px;
	}
}

/* GALLERY */

.section__heading {
	width: 100%;
}
.gallery__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}
.gallery__img {
	width: 32%;
	height: 100%;
	margin-bottom: 1.25rem;
	-webkit-box-shadow: 0px 0px 3px 1px #ddd;
	box-shadow: 0px 0px 3px 1px #ddd;
	border-radius: 5px;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.gallery__img:hover {
	-webkit-transform: scale(0.9,0.9);
	transform: scale(0.9,0.9);
}

@media (max-width: 768px) {
	.gallery__img {
	    width: 48.5%;
	}
}
@media (max-width: 422px) {
	.gallery .subheading {
		display: none;
	}
	.gallery__content {
		margin: 0;
	}
}

/* EVENTS */

.events {
	background-image: url(../img/events/prinada-bg1.jpg);
	background-size: 100% 100%;
	color: white;
	text-shadow: 1px 1px 5px black;
	position: relative;
}
.events__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    margin-top: 3rem;
}
.events__wrapper {
	position: relative;
}
#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 2.2);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
.slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: calc(100%*0.45);
}
.slideHide {
	display: none;
}
.next-btn {
    background-position: 100% 0;
    right: 2.7em;
}
.prev-btn {
    left: 2.1em;
    background-position: 0 0;
}
.prev-btn, .next-btn {
    position: absolute;
    top: 56%;
    z-index: 60;
    height: 2.5em;
    width: 2.5em;
    background-image: url(../img/events/arrows.png);
    opacity: 0.8;
    background-size: 200%;
    cursor: pointer;
}
.events__col {
	width: 48%;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
}
.events__img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.events__blog-heading {
	text-transform: uppercase;
	color: #ffb606;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.7);
	padding: 1.5rem;
	margin-bottom: 5px;
}
.events__blog-text {
	line-height: 1.5;
	padding: 0 20px;
}

@media (max-width: 1300px) {
	.events__blog-heading {
	    padding: 1rem;
	}
}
@media (max-width: 1100px) {
	.prev-btn {
	    left: 1.7em;
	}
	.next-btn {
	    right: 1.7em;
	}
	.events__col {
	    font-size: 16px;
	}
	.events__blog-text {
	    margin: 0;
	}
}
@media (max-width: 900px) {
	#slidewrapper {
	    width: calc(100% * 4);
	}
	.slide {
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	.events__col-hide {
		display: none;
	}
	.slideHide {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.events__col {
	    width: 67%;
	}
	.events__blog-text {
	    margin: 1rem 0;
	}
	.prev-btn {
	    left: 10%;
	}
	.next-btn {
	    right: 10%;
	}
}
@media (max-width: 720px) {
	.events__col {
	    width: 75%;
	}
	.events__wrapper {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    height: 100%;
	}
	.events__img {
		border-radius: 10px;
		height: 100%;
	}
	.events__blog-heading {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0;
		border-radius: 0 0 10px 10px;
	}
	.events__blog-text {
		display: none;
	}
	.prev-btn, .next-btn {
	    width: 2em;
	    height: 2em;
	}
}
@media (max-width: 650px) {
	.events__content {
	    margin-top: 1.5rem;
	}
	.events__img {
	    border-radius: 10px 10px 0 0;
	}
	.events__blog-heading {
		position: static;
	}
}
@media (max-width: 498px) {
	.events__content {
	    margin-top: 0;
	}
}
@media (max-width: 450px) {
	.events__blog-heading {
	    text-transform: none;
	    line-height: 1.1;
	    font-size: 16px;
	}
	.prev-btn, .next-btn {
	    width: 1.5em;
	    height: 1.5em;
	}
	.prev-btn {
	    left: 8%;
	}
	.next-btn {
	    right: 8%;
	}
}
/* RESERVATION */

.reservation {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.reservation__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 3rem 0;
}
.reservation__img {
	width: 100%;
	border: 3px solid #ccc;
	border-radius: 7px;
}
.reservation__col {
	width: 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	position: relative;
}
.reservation__col1 {
	width: 42%;
}
.reservation__form-item {
	width: 100%;
	height: 17.5%;
	border: 2px solid #eaeaea;
	border-radius: 7px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.224px;
	padding: 0 18px;
	margin-bottom: 2rem; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
.form-select {
	background: #fff url(../img/reservation/selectDown.png) no-repeat right 23px center;
    background-size: auto auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-size: 14px;
	text-overflow: ellipsis;
	cursor: pointer;
	color: #686868;
}
.form-select::-ms-expand {
    display: none;
} 
.reservation__form-item.select_reserved {
	width: 216.5%;
	position: absolute;
	bottom: 0;
	margin: 0;
	z-index: 5;
}
.chooseTable {
	margin-right: 3rem;
}
.reservation_btn {
	width: 286px;
	background-color: #ffb606;
	cursor: pointer;
	border-radius: 5px;
	border: 0;
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.1px;
	padding: 1.3rem 1.6rem;
}
.reservation_btn:hover {
	opacity: .8;
}  
input.error {
    border: 1px solid #ff0000;
}
label.error {
    color: #ff0000;
    font-size: 15px;
	margin: -30px 0 10px;
	display: block;
}

@media (min-width: 1800px) {
	.reservation__form-item {
	    height: 19%;
	    font-size: 16px;
	}
}
@media (min-width: 1600px) {
	.reservation__form-item {
	    height: 18.4%;
	}
}
@media (max-width: 1440px) {
	.reservation__form-item {
	    margin-bottom: 1.8rem;
	}
}
@media (max-width: 1336px) {
	.reservation__form-item {
	    height: 14%;
	}
	.reservation__col {
	    width: 19%;
	}
	.reservation__col1 {
	    width: 58%;
	}
	label.error {
	    font-size: 14px;
	    margin: -22px 0 10px;
	}
}
@media (max-width: 1100px) {
	.reservation__form-item {
	    margin-bottom: 11%;
	}
	label.error {
	    margin: -19px 0 10px;
	}
}
@media (max-width: 936px) {
	.reservation__content {
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin: 1.5rem 0;
	}
	.reservation__col {
	    width: 46%;
	    margin-right: 1rem;
	}
	.reservation__col1 {
	    width: 75%;
	    margin-bottom: 1.5rem;
	}
	.reservation__form-item {
	    margin-bottom: 7%;
	}
	.reservation__form-item {
	    height: 48px;
	}
	.reservation__form-item.select_reserved {
	    width: 205%;
	    position: static;
	}
}
@media (max-width: 668px) {
	.side-img {
	    width: 50px;
	    margin: 0 7px;
	}
	.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
	    width: 40px;
	}
	.side-img.right-side-img i:first-child, .side-img.right-side-img i:last-child {
	    width: 40px;
	}
	i {
	    width: 50px;
	}
	.section__heading {
	    font-size: 32px;
	}
}
@media (max-width: 500px) {
	.reservation__col {
	    width: 40%;
	}
	.reservation__col1 {
	    width: 75%;
	}
	.reservation__form-item {
	    height: 37px;
	    font-size: 12px;
	    padding: 0 10px;
	}
	label.error {
	    margin: -4px 0 6px;
	    font-size: 12px;
	    line-height: 1.2;
	}
	.reservation__form-item.select_reserved {
	    width: 208.5%;
	}
	.form-select {
	   background: #fff url(../img/reservation/selectDown.png) no-repeat;
		background-position: center right 5px;
		background-size: 15px;
	}
}
@media (max-width: 422px) {
	.reservation .section__heading {
	    font-size: 27px;
	}
	.reservation__side {
	    width: 29px;
	    margin: 0 3px;
	}
	.reservation__side.left-side-img i:first-child, .reservation__side.left-side-img i:last-child {
	    width: 20px;
	}
	.reservation__side.right-side-img i:first-child, .reservation__side.right-side-img i:last-child {
	    width: 20px;
	}
	.reservation__side i {
	    width: 30px;
	}
}

/* REVIEW */

.review {
	background-image: url(../img/review/testimonial-bg1.jpg);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-position:100% 0;
	position:relative;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.review__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3rem;
	border-radius: 10px;
}
.review__col {
	width: 29%;
	padding: 1rem;
	padding-bottom: 0;
	background-color: rgba(0,0,0,0.6);
}
.review__img {
	border-radius: 50%;
}
.review__text {
    font-size: 16px;
    line-height: 1.5;
	text-align: justify;
}
.review__text-author {
	text-align: center;
}

@media (max-width: 868px) {
	.subheading {
	    font-size: 26px;
	    margin: 1rem 0;
	}
	.review__col {
	    width: 100%;
	    margin-bottom: 1rem;
	}
	.review__content {
	    margin-top: 2rem;
	}
}
@media (max-width: 422px) {
	.review {
		background-image: url(../img/events/prinada-bg1.jpg);
		background-size: 100% 100%;
	}
	.review__content {
	    margin-top: 1rem;
	    font-size: 16px;
	}
}

/* CONTACTS */

.contacts {
	background-image: url(../img/contacts/customer-service.png);
	background-repeat: no-repeat;
	background-size: 23%;
	background-position: bottom right;
}
.contacts__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 3rem;
}
.contacts__text {
    margin-left: 2rem;
    line-height: 1.5;
    width: 34%;
    text-align: left;
}
.bold {
	font-weight: bold;
}
.contacts__content a {
	color: inherit;
}

@media (min-width: 1900px) {
	.contacts {
	    background-size: 19%;
	} 
}
@media (min-width: 1800px) {
	.contacts {
	    background-size: 20%;
	}
}
@media (min-width: 1600px) {
	.contacts {
	    background-size: 21%;
	}
}
@media (max-width: 1300px) {
	.contacts {
	    background: none;
	}
	.contacts__content iframe {
		width: 97%;
	}
	.contacts__text {
	    width: auto;
	}
}
@media (max-width: 1000px) {
	.contacts__content {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.contacts__content iframe {
		width: 100%;
	}
	.contacts__text {
	    margin: 0;
		margin-top: 1rem;
	}
}
@media (max-width: 768px) {
	.contacts__content {
	    margin-top: 2rem;
	}
}
@media (max-width: 422px) {
	.contacts__content {
	    margin-top: 0;
	}
	.contacts__text {
	    font-size: 16px;
	}
}

/* FOOTER */

footer {
	background: url(../img/events/prinada-bg1.jpg) 100%;
	border-top: 2px dotted gray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: white;
	text-shadow: 1px 1px 5px black;
}
.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    margin: 1rem auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 18%;
}
.social img {
	width: 35px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 3px 0px black;
	box-shadow: 0px 0px 3px 0px black;
}

@media (max-width: 950px) {
	.social {
		width: auto;
	}
	.social img {
	    margin-right: 7px;
	}
}
@media (max-width: 510px) {
	footer {
		font-size: 16px;
	}
	.social img {
	    width: 25px;
	}
}

/* ANCHOR */

#toTop {
    width:50px;
    height: 50px;
    text-align:center;
    position:fixed;
    bottom:30px; 
    right:25px;
    border-radius: 15%;
    background-color: black;
    cursor:pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffb606;
    font-size:28px;
    font-weight: bold;
    z-index: 10;
}